<!doctype html>
<html lang="en">
  <!--Head  -->
  <%- include("./partials/head.ejs")%>

  <body class="bg-light">

    <!-- Navbar -->
    <% route="settings"%>
    <%- include("./partials/nav.ejs")%>

    <!-- Main Content -->
    <div class="container py-4">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="h3 mb-0">Settings</h1>
      </div>
    </div>
  </body>
</html>
