<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Cronitor - Website Monitoring</title>
  <link rel="icon" type="image/x-icon" href="/imgs/favicon.png" />
  <meta
    name="description"
    content="Real-time website monitoring and health checks" />

  <!-- Bootstrap CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet" />

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/styles.css" />

  <!-- Scripts -->
  <!-- Bootstrap JS Bundle with Popper -->
  <script src="/js/bootstrap.bundle.min.js" defer></script>
</head>
